body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:989px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:215px;
  width:100px;
  height:60px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:319px;
  width:100px;
  height:60px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:951px;
  width:100px;
  height:60px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:275px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u160_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u160_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:379px;
  width:0px;
  height:0px;
}
#u161_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:576px;
}
#u161_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u161_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:559px;
  width:18px;
  height:19px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:278px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1011px;
  width:0px;
  height:0px;
}
#u162_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:259px;
}
#u162_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u162_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:242px;
  width:18px;
  height:19px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:120px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:297px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u163_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u163_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u163_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u163_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:275px;
  width:165px;
  height:42px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:275px;
  width:165px;
  height:42px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:275px;
  width:165px;
  height:42px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:275px;
  width:165px;
  height:42px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:394px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u168_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u168_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u168_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u168_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:372px;
  width:113px;
  height:42px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:497px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u170_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u170_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u170_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u170_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:475px;
  width:113px;
  height:42px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:496px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u172_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u172_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:8px;
  height:41px;
}
#u172_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:28px;
  height:8px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:496px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u173_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u173_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:43px;
}
#u173_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:31px;
  width:31px;
  height:8px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:442px;
  width:165px;
  height:42px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:510px;
  width:165px;
  height:42px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:627px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u176_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u176_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u176_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u176_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:605px;
  width:113px;
  height:42px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:626px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u178_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u178_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:8px;
  height:41px;
}
#u178_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:28px;
  height:8px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:626px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u179_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u179_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:43px;
}
#u179_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:31px;
  width:31px;
  height:8px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:572px;
  width:165px;
  height:42px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:640px;
  width:165px;
  height:42px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:757px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u182_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u182_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u182_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u182_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:735px;
  width:113px;
  height:42px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:756px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u184_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u184_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:8px;
  height:41px;
}
#u184_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:28px;
  height:8px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:756px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u185_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u185_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:43px;
}
#u185_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:31px;
  width:31px;
  height:8px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:702px;
  width:165px;
  height:42px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:770px;
  width:165px;
  height:42px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:896px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u188_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u188_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u188_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u188_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:874px;
  width:113px;
  height:42px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:895px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u190_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u190_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:8px;
  height:41px;
}
#u190_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:28px;
  height:8px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:895px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u191_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u191_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:43px;
}
#u191_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:31px;
  width:31px;
  height:8px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:841px;
  width:165px;
  height:42px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:909px;
  width:165px;
  height:42px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1085px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u194_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u194_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u194_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u194_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1063px;
  width:113px;
  height:42px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:1084px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u196_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u196_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:8px;
  height:41px;
}
#u196_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:28px;
  height:8px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:1084px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u197_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u197_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:43px;
}
#u197_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:31px;
  width:31px;
  height:8px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1030px;
  width:165px;
  height:42px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1098px;
  width:165px;
  height:42px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1215px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u200_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u200_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u200_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u200_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1193px;
  width:113px;
  height:42px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:1214px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u202_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1193px;
  width:165px;
  height:42px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:43px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:31px;
  width:375px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:70px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:106px;
  width:130px;
  height:69px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
