body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1053px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:302px;
  width:100px;
  height:60px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:934px;
  width:100px;
  height:60px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1459px;
  width:100px;
  height:60px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u89_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u89_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u89_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:43px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:375px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:576px;
}
#u91_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u91_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:559px;
  width:18px;
  height:19px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:278px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:994px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:469px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u92_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:452px;
  width:18px;
  height:19px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:280px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u94_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u94_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:258px;
  width:165px;
  height:42px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:258px;
  width:165px;
  height:42px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:258px;
  width:165px;
  height:42px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:258px;
  width:165px;
  height:42px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:377px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u99_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u99_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u99_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u99_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:355px;
  width:113px;
  height:42px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:480px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u101_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u101_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u101_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u101_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:458px;
  width:113px;
  height:42px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:479px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u103_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:8px;
  height:41px;
}
#u103_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:28px;
  height:8px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:479px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:43px;
}
#u104_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:31px;
  width:31px;
  height:8px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:425px;
  width:165px;
  height:42px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:493px;
  width:165px;
  height:42px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:610px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u107_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u107_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u107_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u107_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:588px;
  width:113px;
  height:42px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:609px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u109_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u109_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:8px;
  height:41px;
}
#u109_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:28px;
  height:8px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:609px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u110_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:43px;
}
#u110_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:31px;
  width:31px;
  height:8px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:555px;
  width:165px;
  height:42px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:623px;
  width:165px;
  height:42px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:740px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u113_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u113_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u113_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u113_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:718px;
  width:113px;
  height:42px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:739px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u115_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u115_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:8px;
  height:41px;
}
#u115_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:28px;
  height:8px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:739px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u116_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u116_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:43px;
}
#u116_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:31px;
  width:31px;
  height:8px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:685px;
  width:165px;
  height:42px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:753px;
  width:165px;
  height:42px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:879px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u119_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u119_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u119_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u119_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:857px;
  width:113px;
  height:42px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:878px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u121_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u121_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:8px;
  height:41px;
}
#u121_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:28px;
  height:8px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:878px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u122_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u122_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:43px;
}
#u122_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:31px;
  width:31px;
  height:8px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:824px;
  width:165px;
  height:42px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:892px;
  width:165px;
  height:42px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1016px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u125_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u125_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u125_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:994px;
  width:113px;
  height:42px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1119px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u127_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u127_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u127_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u127_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1097px;
  width:113px;
  height:42px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:1118px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u129_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u129_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:8px;
  height:41px;
}
#u129_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:28px;
  height:8px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:1118px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u130_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u130_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:43px;
}
#u130_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:31px;
  width:31px;
  height:8px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:1064px;
  width:165px;
  height:42px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:1132px;
  width:165px;
  height:42px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1249px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u133_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u133_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u133_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u133_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1227px;
  width:113px;
  height:42px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:1248px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u135_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u135_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:8px;
  height:41px;
}
#u135_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-37px;
  width:28px;
  height:8px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:1248px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u136_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u136_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:43px;
}
#u136_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:31px;
  width:31px;
  height:8px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:1194px;
  width:165px;
  height:42px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:1262px;
  width:165px;
  height:42px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1376px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u139_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u139_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:89px;
  height:8px;
}
#u139_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:8px;
}
#u139_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:21px;
  height:8px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1354px;
  width:113px;
  height:42px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1583px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:1583px;
  width:49px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1655px;
  width:113px;
  height:42px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:43px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1758px;
  width:113px;
  height:42px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1779px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u145_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u145_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-82px;
  width:8px;
  height:86px;
}
#u145_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-82px;
  width:38px;
  height:8px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1779px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u146_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u146_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-4px;
  width:8px;
  height:64px;
}
#u146_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:52px;
  width:36px;
  height:8px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:1680px;
  width:165px;
  height:42px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:1814px;
  width:165px;
  height:42px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:1750px;
  width:165px;
  height:42px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
